html {font-size: 22px;
}
body {
    background-color: whitesmoke;
    color: rgb(6, 91, 65);
}
a {
    color: rgb(81, 5, 109);
}
a:visited {
    color: rgb(171, 13, 13);
}
a:hover, a:active {
    color: rgb(205, 129, 185);
}
table, tr, th, td, caption {border: 1px solid purple; font-family: 'Times New Roman', Times, serif; border-collapse: collapse; padding: 0.5rem;
}